.titleHome {
    font-size: 250%;
}

.intro-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    /* box-shadow:i 0 0 0 1000px; rgba(0,0,0,0.2); */
    object-fit: absolute;
    margin-top:-60px;
}

.intro-container > h1 {
    color: #111;
    font-size: 250%;
    text-align: left;
    margin-left:5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.intro-container > p {
    margin-top: 10px;
    width: 95%;
    color: #111;
    font-size: 18px;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-align: left;
    max-width: 50%;
    margin-left:5%;
}
.imageHome {
  object-fit:contain;
  max-width:450px;
  max-height: 450px;
  margin-left: 700px;
  margin-top: -40%;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 30px;
    }
    
    .btn-mobile {
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}


