* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  }
  
.border1{
  width: 330px;
  border: 1px solid rgba(0,0,0,.125);
  margin-top: 10px;
}

.border2 {
  outline: 0;
  border: 0;
  background-color: rgb(41, 41, 41);
  height: 100px;
}
  .border2:before {
    content: '';
    left: 0;
    top: 50%;
    width: 100%;
  }
  .border2:after {
    content: attr(data-content);
    display: inline-block;
    color: #fff;
    line-height: 2.5;
    font-size: 40px;
    padding: 0 .5em;
    margin-left: 55px;
  }

/* color: rgb(255, 102, 0); */

  .home,
  .visualization,
  .findyourtype,
  .aboutus {

    justify-content: center;
    font-size: 3rem;
    margin-top: 0px;
  }
  
  .visualization {
    /* background-image: url('/images/img-2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #111;
    font-size: 100px;
  }
  
  .findyourtype {
    /* background-image: url('/images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #111;
    font-size: 100px;
  }

  .aboutus {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #111;
    font-size: 100px;
    margin-top: 0px;
  }
  .aboutusColorText {
    color: rgb(12, 5, 32);
    font-size: 80px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    margin-top:50px;
}

 
   /* .unterTitel {
     font-size: 50px;
     text-align: left;
     margin-left:10%;
     margin-bottom:20px;
     margin-top:5%;
   }

   .aboutusText {
     font-Size: 20px;
     text-align: left;
     max-width: 50%;
     margin-left:10%;
     margin-bottom:20px;
   } */
   .underTitle{
    color: #111;
    font-size: 80px;
    text-align: left;
    margin-left:5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    margin-top:50px;
}

.aboutusText {
    margin-top: 10px;
    width: 100%;
    color: #111;
    font-size: 20px;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-align: left;
    max-width: 60%;
    margin-left:5%;
    margin-top: 20px;
}

.rightSide {
  height: 100%;
  width: 350px;
  right: 10px;
  position: absolute;
  top: 0px;
  margin-top: 250px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.leftSide {
  height: 100%;
  width: 700px;
  left: 10px;
  position: absolute;
  padding: 10px;
  top: 0px;
  margin-top: 250px;
  margin-left: 20px;
  margin-bottom: 0px;
}

#countryCmbBox {
  width: 80px;
}

.test {
  color: #111;
}


